BOT_TOKEN=токен_бота_сюда
ADMIN_GROUP_ID=-100айди_группы_сюда # Важно в начале добавить -100

DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASS=пароль_от_БД_сюда
DB_NAME=p2p_exchange

REDIS_HOST=redis
REDIS_PORT=6379

PROXY_URL=прокси_сюда # Нужно только при разработке, на сервере удалить эту строку